doctype html
html(lang='en')
    head
        title Manager Report
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src="assets")
        link(href='/assets/css/bootstrap.min.css', rel='stylesheet')
        link(href='/assets/css/light-bootstrap-dashboard.css?v=2.0.0 ', rel='stylesheet')
        // CSS Just for demo purpose, don't include it in your project
        link(href='/assets/css/demo.css', rel='stylesheet')
        style.
            /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
            .row.content {
                height: 1500px
            }

            /* Set gray background color and 100% height */
            .sidenav {
                background-color: #f1f1f1;
                height: 100%;
            }

            h4 {
                color: red;
            }

            h5 {
                color: saddlebrown;
                font-size: large;
            }

            h {
                font-size: medium;
            }

            li {
                font-size: medium;
            }

            .list-group-item {
                font-size: medium;
                /*background: #a0ffff;*/
            }

            /* Set black background color, white text and some padding */
            footer {
                background-color: #555;
                color: white;
                padding: 15px;
            }

            /* On small screens, set height to 'auto' for sidenav and grid */
            @media screen and (max-width: 767px) {
                .sidenav {
                    height: auto;
                    padding: 15px;
                }

                .row.content {
                    height: auto;
                }
            }

    body
        .container-fluid
            .row.content
                .col-sm-3.sidenav
                    h4 Manager Report
                    ul.nav.nav-pills.nav-stacked
                        li.active
                            a(href='#commits') Commits Summary
                        li
                            a(href='#lines') Lines of Code Changes
                        li
                            a(href='#pulls') Pull Requests Summary
                        //li
                        //    a(href='#section3') Photos
                    br
                    .input-group
                        input.form-control(type='text', placeholder='Search Blog..')
                        span.input-group-btn
                            button.btn.btn-default(type='button')
                                span.glyphicon.glyphicon-search
                .col-sm-9



                    div
                        h4 Red Flags:
                        .list-group
                            #redflag

                        h4 Highlights:
                        .list-group
                            #highlight

                            //
                            //
                            //
                            //totalCommits
                            //    a.list-group-item.list-group-item-action.list-group-item-danger(href='#') 1. Your team has Less than 5 total commits in the past week.
                            //
                            //a.list-group-item.list-group-item-action.list-group-item-danger(href='#') 2. At least 1 team member has not made commits.
                            //a.list-group-item.list-group-item-action.list-group-item-danger(href='#') 3. Your team's commit this week is LESS than the commits at the week of ""




                    br
                    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
                    script(type='text/javascript').
                        google.charts.load("current", {packages: ['corechart']});
                        google.charts.setOnLoadCallback(drawChartCommit);
                        google.charts.setOnLoadCallback(drawChartLine);
                        google.charts.setOnLoadCallback(drawChartPull);

                        google.charts.load('current', {'packages': ['table']});
                        google.charts.setOnLoadCallback(drawPieCommit);
                        // google.charts.setOnLoadCallback(drawTableLine);
                        // google.charts.setOnLoadCallback(drawTablePull);
                        google.charts.setOnLoadCallback(writeText);
                        google.charts.setOnLoadCallback(enterTeamMember);
                        google.charts.setOnLoadCallback(writeRedFlag);




                        function drawChartCommit() {
                            var data = google.visualization.arrayToDataTable(!{JSON.stringify(weekCommits)});
                            console.log('weekCommits: ', !{JSON.stringify(weekCommits)});
                            console.log(data);
                            var view = new google.visualization.DataView(data);

                            var options = {
                                title: "Commits in the past week",
                                width: 500,
                                height: 300,
                                bar: {groupWidth: "95%"},
                                legend: {position: "none"},
                            };
                            var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_commits"));
                            chart.draw(view, options);
                        }

                        google.charts.load("current", {packages: ['corechart']});
                        // google.charts.setOnLoadCallback(drawChart);
                        function drawChartLine() {
                            var data = google.visualization.arrayToDataTable(!{JSON.stringify(weekLineDelta)});
                            var view = new google.visualization.DataView(data);

                            var options = {
                                title: "Change of Lines of Codes in the past week",
                                width: 500,
                                height: 300,
                                bar: {groupWidth: "95%"},
                                legend: {position: "none"},
                                colors: ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6']
                            };
                            var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_lines"));
                            chart.draw(view, options);
                        }
                        function drawChartPull() {
                            var data = google.visualization.arrayToDataTable(!{JSON.stringify(weekLineDelta)});
                            var view = new google.visualization.DataView(data);

                            var options = {
                                title: "Number of Pull requests in the past week",
                                width: 500,
                                height: 300,
                                bar: {groupWidth: "95%"},
                                legend: {position: "none"},
                                colors: ['#68e047']

                            };
                            var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_pulls"));
                            chart.draw(view, options);
                        }


                        google.charts.load('current', {'packages': ['corechart']});
                        // google.charts.setOnLoadCallback(drawChart);
                        console.log(!{JSON.stringify(weekCommitsByRepo)});

                        function writeRepoInfo(somethingByRepo, something) {
                        // somethingByRepo =

                            console.log("somethingByRepo: ", (somethingByRepo));
                            var s = "<div><ul class=\"list-group\">";
                            if (somethingByRepo.length > 1) {
                                for (var i = 1; i < somethingByRepo.length; i++) {
                                    var commit = somethingByRepo[i];
                                    var str = `<li class="list-group-item "> The repository: ${commit[0]} has ${commit[1]} ` + something + ` in the past week </li>`;
                                    s += str;
                                }
                            }
                            s += "</ul></div>";

                            console.log(s);
                            document.getElementById(something).innerHTML += (s);
                        }
                        function writeText() {
                            weekCommitsByRepo = !{JSON.stringify(weekCommitsByRepo)}
                            writeRepoInfo(weekCommitsByRepo, "commits");
                            weekLinesByRepo = !{JSON.stringify(weekLinesByRepo)}
                            writeRepoInfo(weekLinesByRepo, "lines_of_code_change");
                            weekPullsByRepo = !{JSON.stringify(weekPullsByRepo)}
                            writeRepoInfo(weekPullsByRepo, "pull_requests");


                        }
                        function enterTeamMember(){
                             outline = !{JSON.stringify(outline)};
                             console.log(outline);
                             var s = "<div><ul class=\"list-group\">";
                             for (var uid of outline) {
                                 var str = `<li><a class="list-group-item list-group-item-action list-group-item-secondary" href='/user-report/${uid}/2019-12-01'> ${uid} </li>`;
                                 s += str;
                             }

                                s += "</ul></div>";

                                console.log(s);
                            document.getElementById("member").innerHTML += (s);

                        }
                        function writeRedFlag(){
                             totalCommits = !{JSON.stringify(data['totalCommits'])};
                             lessThan3CommitUsers = !{JSON.stringify(data['lessThan3CommitUsers'])};
                             monthCommitsDelta = !{JSON.stringify(data['monthCommitsDelta'])};
                             // console.log("totalcommits: ", data['totalCommits']);
                             var s = "<div><ul class=\"list-group\">";
                             var str1 = `<li class="list-group-item list-group-item-action list-group-item-danger"> your team has only ${totalCommits} commits in the past week </li>`;
                             s += str1;
                             var str2 = `<li class="list-group-item list-group-item-action list-group-item-danger"> These team members had NO COMMITS in the past week: ${lessThan3CommitUsers} </li>`;
                             s += str2;
                             var str3 = `<li class="list-group-item list-group-item-action list-group-item-danger"> The change of code commits from last month to this month is: ${monthCommitsDelta} </li>`;
                             s += str3;

                             s += "</ul></div>";
                             console.log(s);
                            document.getElementById("redflag").innerHTML += (s);


                            lastMonthCommits = !{JSON.stringify(data['lastMonthCommits'])};
                            lastMonthLineDelta = !{JSON.stringify(data['lastMonthLineDelta'])};
                            lastMonthPulls = !{JSON.stringify(data['lastMonthPulls'])};
                            var s = "<div><ul class=\"list-group\">";
                            var str1 = `<li class="list-group-item list-group-item-action list-group-item-warning"> your team has  ${lastMonthCommits} commits in the past month </li>`;
                            s += str1;
                            var str2 = `<li class="list-group-item list-group-item-action list-group-item-warning"> your team has  ${lastMonthLineDelta} change of lines in the past month </li>`;
                            s += str2;
                            var str3 = `<li class="list-group-item list-group-item-action list-group-item-warning"> your team has  ${lastMonthPulls} pull requests in the past month </li>`;
                            s += str3;

                            s += "</ul></div>";
                            console.log(s);
                            document.getElementById("highlight").innerHTML += (s);

                        }
                        function drawPieCommit() {
                            var data = google.visualization.arrayToDataTable(
                                !{JSON.stringify(weekUserCommits)}
                            );
                            // Optional; add a title and set the width and height of the chart
                            var options = {'title': '', 'width': 550, 'height': 400};
                            // Display the chart inside the <div> element with id="piechart"
                            var chart = new google.visualization.PieChart(document.getElementById('drawPieCommit'));
                            chart.draw(data, options);
                        }



                    .content
                        .container-fluid
                            .row
                                .col-md-5
                                    .card
                                        .card-header
                                            h4.card-title Team Commits in the Past 2 Months
                                            //p.card-category Last Campaign Performance
                                        .card-body
                                            #commits
                                                h5 Commits
                                                #columnchart_commits(style='width: 600px; height: 300px;')
                                                h commits in each repo in the past week:
                                                //#drawPieCommit
                                .col-md-5
                                    .card
                                        .card-header
                                            h4.card-title Change in Lines of codes in the Past 2 Months
                                            //p.card-category Last Campaign Performance
                                        .card-body
                                            #lines_of_code_change
                                                h5 Change in Lines of codes
                                                #columnchart_lines(style='width: 600px; height: 300px;')
                                                h change of codes in each repo in the past week:

                            .row
                                .col-md-5
                                    .card
                                        .card-header
                                            h4.card-title Change in Lines of codes in the Past 2 Months
                                            //p.card-category Last Campaign Performance
                                        .card-body
                                            #pull_requests
                                                h5 Pull Requests
                                                #columnchart_pulls(style='width: 600px; height: 300px;')
                                                h Pull request change in each repo in the past week:
                                .col-md-5
                                    .card
                                        .card-header
                                            h4.card-title Team Member Dynamics
                                            p.card-category Below is your team's distribution of commits in the past week
                                        .card-body
                                            #drawPieCommit


                                            h Click here to go to each team member's page:
                                            #member
                                                //ul.nav
                                                //    li.nav-item
                                                //        a.nav-link.active(href='#') Active
                                                //    li.nav-item
                                                //        a.nav-link(href='#') Link
                                                //    li.nav-item
                                                //        a.nav-link(href='#') Link





