doctype html
html(lang='en')
    head
        title User Report
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
        style.
            /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
            .row.content {height: 1500px}
            /* Set gray background color and 100% height */
            .sidenav {
                background-color: #f1f1f1;
                height: 100%;
            }
            .h5{
                color: red;
            }
            /* Set black background color, white text and some padding */
            footer {
                background-color: #555;
                color: white;
                padding: 15px;
            }
            /* On small screens, set height to 'auto' for sidenav and grid */
            @media screen and (max-width: 767px) {
                .sidenav {
                    height: auto;
                    padding: 15px;
                }
                .row.content {height: auto;}
            }

    body
        .container-fluid
            .row.content
                .col-sm-3.sidenav
                    h4 User Report
                    ul.nav.nav-pills.nav-stacked
                        li.active
                            a(href='#commits') Commits Summary
                        li
                            a(href='#lines') Lines of Code Changes
                        li
                            a(href='#pulls') Pull Requests Summary
                        //li
                        //    a(href='#section3') Photos
                    br
                    .input-group
                        input.form-control(type='text', placeholder='Search Blog..')
                        span.input-group-btn
                            button.btn.btn-default(type='button')
                                span.glyphicon.glyphicon-search
                .col-sm-9
                    h4 Red Flag! 66 percent team members have more commits than you in the past month



                    br
                    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
                    script(type='text/javascript').
                        google.charts.load("current", {packages: ['corechart']});
                        google.charts.setOnLoadCallback(drawChartCommit);
                        google.charts.setOnLoadCallback(drawChartLine);
                        google.charts.setOnLoadCallback(drawChartPull);

                        google.charts.load('current', {'packages': ['table']});
                        // google.charts.setOnLoadCallback(drawTableCommit);
                        // google.charts.setOnLoadCallback(drawTableLine);
                        // google.charts.setOnLoadCallback(drawTablePull);
                        google.charts.setOnLoadCallback(writeText);




                        function drawChartCommit() {
                            var data = google.visualization.arrayToDataTable(!{JSON.stringify(weekCommits)});
                            console.log('weekCommits: ', !{JSON.stringify(weekCommits)});
                            console.log(data);
                            var view = new google.visualization.DataView(data);

                            var options = {
                                title: "Commits in the past week",
                                width: 500,
                                height: 300,
                                bar: {groupWidth: "95%"},
                                legend: {position: "none"},
                            };
                            var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_commits"));
                            chart.draw(view, options);
                        }

                        google.charts.load("current", {packages: ['corechart']});
                        // google.charts.setOnLoadCallback(drawChart);
                        function drawChartLine() {
                            var data = google.visualization.arrayToDataTable(!{JSON.stringify(weekLineDelta)});
                            var view = new google.visualization.DataView(data);

                            var options = {
                                title: "Change of Lines of Codes in the past week",
                                width: 500,
                                height: 300,
                                bar: {groupWidth: "95%"},
                                legend: {position: "none"},
                            };
                            var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_lines"));
                            chart.draw(view, options);
                        }
                        function drawChartPull() {
                            var data = google.visualization.arrayToDataTable(!{JSON.stringify(weekLineDelta)});
                            var view = new google.visualization.DataView(data);

                            var options = {
                                title: "Number of Pull requests in the past week",
                                width: 500,
                                height: 300,
                                bar: {groupWidth: "95%"},
                                legend: {position: "none"},
                            };
                            var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_pulls"));
                            chart.draw(view, options);
                        }


                        google.charts.load('current', {'packages': ['corechart']});
                        // google.charts.setOnLoadCallback(drawChart);
                        console.log(!{JSON.stringify(commitsByRepo)});

                        function writeRepoInfo(somethingByRepo, something) {
                            // somethingByRepo = !{JSON.stringify(somethingByRepo)};
                            console.log("somethingByRepo: ", (somethingByRepo));
                            var s = "<div><h5>";
                            if (somethingByRepo.length > 1) {
                                for (var i = 1; i < somethingByRepo.length; i++) {
                                    var commit = somethingByRepo[i];
                                    var str = `&nbsp&nbsp&nbsp&nbsp&nbsp  The repository: ${commit[0]} has ${commit[1]} ` + something + ` in the past week <br/>`;
                                    s += str;
                                }
                            }
                            s+= "</h5></div>";

                            console.log(s);
                            document.getElementById(something).innerHTML += (s);
                        }
                        function writeText(){
                            commitsByRepo = !{JSON.stringify(commitsByRepo)}
                            writeRepoInfo(commitsByRepo, "commits");
                            linesByRepo = !{JSON.stringify(linesByRepo)}
                            writeRepoInfo(linesByRepo, "lines_of_code_change");
                            pullsByRepo = !{JSON.stringify(pullsByRepo)}
                            writeRepoInfo(pullsByRepo, "pull_requests");


                        }




                    #commits Commits
                        #columnchart_commits(style='width: 600px; height: 300px;')
                        h commits in each repo in the past week:
                        //#drawPieCommit


                    #lines_of_code_change Change in Lines of codes
                        #columnchart_lines(style='width: 600px; height: 300px;')
                        h change of codes in each repo in the past week:
                        //#drawPieLine

                    #pull_requests Pull Requests
                        #columnchart_pulls(style='width: 600px; height: 300px;')
                        h Pull request change in each repo in the past week:
                        //#drawPiePull

